<div class="box--form">
	<div class="box--title">Add Liege</div>
	<hr/>
	<div class="box--content">
		<form action="/castles/{{castleId}}/liege/add" method="POST">
			<label for="name">Liege Name</label>
			<input type="text" name="name">
			<input type="submit" class="btn" value="Add New Liege" method="POST">
		</form>
	</div>
</div>

<div class="box--header">Castle {{castleName}}</div>

{{#each allLieges as |liege|}}
	<div class="box">
		<a href="/lieges/{{liege.id}}">
			<div class="box--title">{{liege.name}}</div>
			<hr/>
			<div class="box--left">
				<span class="label">vassal count:</span><span class="text"> {{liege.vassalIds.length}}</span>
			</div>
		</a>
		<hr/>
		<form action="/castles/{{../castleId}}/lieges/{{liege.id}}/remove" method="POST">
			<input type="submit" class="btn" value="Remove" method="post">			
		</form>
	</div>
{{/each}}
